.lobby-screen {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.7turn, #6387d2, #6bccc8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-lobby {
  margin: auto;
  width: 60%;
  height: 100%;
  color: white;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-lobby .lobby--title {
  background: transparent;
  border: 1px solid white;
  font-family: 'squareo';
  color: white;
  padding: 10px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
  position: absolute;
  top: 5%;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.lobby--container {
  display: flex;
  height: 100%;
  color: white;
  position: relative;
  top: 20%;
  height: 70%;
}

.lobby-title h3 {
  color: white;
}

.lobby-users-options {
  width: 70%;
  height: 85%;
}

.lobby-start-game {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
}

.lobby-start-game button {
  transition: 250ms;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: white;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  border: none;
  color: black;
  transform: rotateZ(-2deg);
  font-size: 18px;
}

.lobby-start-game button:hover {
  background: none;
  border: 1px solid white;
  color: white;
}

.lobby-start-game button:active {
  transform: rotateZ(-2deg) scale(0.8);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.lobby-users-options-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 83%;
  overflow: auto;
}

.lobby-users-options-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 150px;
  padding: 20px;
  margin: 10px;
  background-color: rgb(241, 240, 240);
  border: 3px solid white;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .5);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.lobby-users-options-list h6 {
  color: black;
  margin-bottom: 5px;
  font-size: 18px;
}

.lobby-users-list {
  padding: 20px;
  height: 80%;
}

.lobby-users-options h3, .lobby-users-list h3 {
  color: white;
  width: fit-content;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  transform: rotateZ(-1deg);
}

.lobby-users-options h5, .lobby-users-list h5 {
  margin-top: -12px;
  margin-bottom: 20px;
  font-size: 15px;
  color: white;
}

.lobby-users--infos-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;
  transform: rotateZ(-1deg);
  background-color: rgb(241, 240, 240);
  border: 3px solid white;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.lobby-users--name img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.lobby-users--name {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}

.lobby--invite-btn {
  position: relative;
}

.lobby--invite-btn span {
  position: absolute;
  bottom: -30px;
  right: 30px;
  font-size: 18px;
  color: white;
  transition: 250ms;
}

.lobby-users--list-row {
  padding: 10px;
  height: 100%;
  min-width: 180px;
  overflow: auto;
}

#toggle-lobby-streak, #toggle-lobby-random, #toggle-lobby-qcm {
  display: none;
}

.lobby-toggle-label {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  width: 70px;
  height: 35px;
  margin: 0 auto;
  transform: translateY(-50%);
  cursor: pointer;
}

.lobby-toggle-label:before {
  top: 4px;
  left: 4px;
  width: 27px;
  height: 27px;
  background-color: #6fd341;
  z-index: 2;
}

.lobby-toggle-label:after {
  top: 0;
  right: 0;
  width: 70px;
  height: 35px;
  background-color: rgb(241, 240, 240);
  border: 1px solid #aaa;
}

.lobby-toggle-label:before, .lobby-toggle-label:after {
  content: "";
  position: absolute;
  border-radius: 2px;
  box-sizing: border-box;
  transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle-lobby-streak:checked+.lobby-toggle-label:before, #toggle-lobby-random:checked+.lobby-toggle-label:before, #toggle-lobby-qcm:checked+.lobby-toggle-label:before {
  top: 0;
  left: 0;
  width: 70px;
  height: 35px;
  background-color: rgb(241, 240, 240);
  border: 1px solid #aaa;
}

#toggle-lobby-streak:checked+.lobby-toggle-label:after, #toggle-lobby-random:checked+.lobby-toggle-label:after, #toggle-lobby-qcm:checked+.lobby-toggle-label:after {
  top: 4px;
  right: 4px;
  width: 27px;
  height: 27px;
  background-color: #f12e2e;
  z-index: 2;
  border: none;
}

.toggle-lobby-container {
  position: relative;
  top: 50%;
  width: 85px;
  height: 42px;
  overflow: hidden;
}