@font-face {
  font-family: 'square';
  src: url('./../../assets/font/Square.ttf');
}

@font-face {
  font-family: 'squareo';
  src: url('./../../assets/font/Squareo.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'square';
}

body {
  overflow: none;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

#root {
  height: 100vh;
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
  /* background: linear-gradient(0.7turn, #3162ce, #2ccec8); */
  background: linear-gradient(0.7turn, #6387d2, #6bccc8) !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(241, 240, 240);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid white;
  background: linear-gradient(0.7turn, #6387d2, #6bccc8);
}